/* Admin.css */

/* Sidebar */
.sidebar {
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding-top: 20px;
}

.logotext {
  text-align: center;
  margin-bottom: 20px;
}

.closemenu {
  cursor: pointer;
  text-align: center;
}

.closemenu svg {
  font-size: 24px;
}

.nav-link {
  color: #fff;
  padding: 10px 20px;
  display: block;
}

.nav-link:hover {
  background-color: #555;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    height: auto;
    padding-bottom: 50px; /* Add some padding at the bottom to accommodate the footer */
  }
}
